body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(21, 21, 97);
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 130%;
  }

  .box {
    background: rgb(53, 53, 143);
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
    opacity: 90%;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    border: none;
    margin: 0.5em;
    border-radius: 20%;
    height: 44px;
    width: 40px;
    background: rgb(131, 131, 212);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
  }

  input.s-bar {
    border: none;
    outline: 0;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(131, 131, 212);
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

  button:hover {
    background: rgb(131, 131, 212);
  }
  
  h1.temperature {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }

  .description {
    margin-left: 8px;
  }
  